<html>
<body class="user text-white">
<% 5.times do %>
<br/>
<% end %>
          <a class="dropdown-item text-dark bg-light"     <%= link_to "Edit email / password", edit_user_registration_path %> </a>
<center>
    <div class="  card bg-dark  ">

<h1><%= current_user.first_name %></h1>
<p> <%=  current_user.last_name %>
<p>  <%=  current_user.email %>






  </div>

<br/>
<br/>
<h3><p> Voici tout les evenement crée par <%=  current_user.first_name %> : </p></h3>
<div class="container">

 <div class="row">
      <%  current_user.events.all.each do |event| %>
<div class=" col-md-4 ">
<br/>
  <div class="card-header  card text-white bg-dark    ">

        <%= event.title %>

        </div>
        </div>



    <% end %>
</div>
        </div>
</body>
