<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_tag url_for(controller: 'event',action: 'create', method: "post") do %>

        <h1 class="h3 mb-3 font-weight-normal text-center">Crée votre évènement</h1>
        <div class="form-group">
          <%= label_tag :title, "Titre" %>
          <%= text_field_tag :title %>
        </div>
        <div class="form-group">
          <%= label_tag :description, "Description de l'évènement" %><br />
          <%= text_field_tag :description %>
        </div>
        <div class="form-group">
          <%= label_tag :location, "Lieu de l'évènement" %><br />
          <%= text_field_tag :location %>
        </div>
        <div class="form-group">
          <%= label_tag :price, "Prix " %>
          <%= text_field_tag :price %>
        </div>
        <div class="form-group">
          <%= label_tag :price, "Début  " %>
          <%= date_field_tag :start_date %>
        </div>
        <div class="form-group">
          <%= label_tag :price, "A quel heure l'évènement commence?  " %>
          <%= time_field_tag :hour_date  %>
        </div>

        <div class="form-group">
          <%= label_tag :end_date, "Fin  " %>
          <%= date_field_tag :end_date %>
        </div>
        <div class="form-group">
          <%= label_tag :price, "A quel heure l'évènement se finnis?  " %>
          <%= time_field_tag :hour_end  %>
        </div>


        <div class="actions mt-5">
          <%= submit_tag "Valider", class: "btn btn-lg btn-dark btn-block" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
