<!DOCTYPE html>
<html>
  <head>
    <title>WorldEvent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<center>  <a class=" dropdown-item text-white bg-dark "  <%= link_to "World Event 42", root_path %> </a> </center>

  <div class="text-white dropdown navbar-nav ml-auto mr-5  ">



      <% if user_signed_in? %>

          <a class="dropdown-item text-white bg-dark"  <%= link_to "Sign out", '/users/sign_out', method: :delete %> </a>





        <a class="dropdown-item text-white bg-dark"     <%= link_to "Mon profil", static_pages_secret_path %> </a>



        <a class="dropdown-item text-white bg-dark"     <%= link_to "Edit email / password", edit_user_registration_path %> </a>


      <% else %>
      <a class="dropdown-item text-white bg-dark" <%= link_to "Crée un compte", '/users/sign_up' %></a>
      <a class="dropdown-item text-white bg-dark" <%= link_to "Se connecter",'/users/sign_in' %></a>
      <% end %>

    </div></nav>

    <% if flash[:notice] %>
  <center>  <div class="alert alert-primary" role="alert">
  <%= flash[:notice] %>
</div></center>
    <% end %>
    <%= yield %>
  </body>
</html>
